.row {
  margin-left: 15px;
}
h3 {
  margin-top: 3.5rem;
  margin-left: 15px;
  color: #fff;
}
.row_posters {
  display: flex;
  flex-direction: row;
  margin-left: 15px;
  /* scrolling only the cursor focus row */
  overflow-y: hidden;
  overflow-x: scroll;
  /* padding: 10px; */
}

/* all browsers  */
.row_posters::-webkit-scrollbar {
  display: none;
}

.row_poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 10px;
  transition: transform 45ms;
  /* background: rgba(0, 0, 0, 0.6); */
}

.row_poster:hover {
  transform: scale(1.08);
  cursor: pointer;
  content: attr(title);
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  color: #fff;

  text-align: center;
  z-index: 1;
  bottom: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.row_posterLarger {
  max-height: 250px;
}
